@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font: #2C2C2C;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}